{% extends "base.html"%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Te Lo Vendo</title>
    <link href="{% static  'style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% block content %}
    <div class="container text-center pt-5 mt-3 pb-5 mb-3">
        <p class="fs-1 h2"><img src="{% static 'img/Hi.png' %}" alt="saludo" width="50px" class="align-content-start"> Bienvenido {{ username }} a Te Lo Vendo</p>
        <p class="h4">Has iniciado sesión exitosamente</p>
        <button class="btn btn-primary" onclick="window.location.href='{% url 'telovendo' %}'">Inicio</button>
    </div>
    {% endblock %}
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>